.DS_Store
AuthenticationServer/target/*
AuthenticationServer/.settings/*
SharedResource/.gradle/*
SharedResource/.idea/*
SharedResource/app/build/*
SharedResource/build/*
AuthenticationClient/.idea/*
AuthenticationClient/.gradle/*
AuthenticationClient/app/build/*
AuthenticationClient/build/*
FaceRecognitionSample/build/*
FaceRecognitionSample/.gradle/*
FaceRecognitionSample/.idea/*
