.DS_Store
AuthenticationServer/target/*
AuthenticationServer/.settings/*
SharedResource/.gradle/*
SharedResource/.idea/*
SharedResource/app/build/*
SharedResource/build/*
SharedResource/openCVLibrary249/build/*
AuthenticationClient/.idea/*
AuthenticationClient/.gradle/*
AuthenticationClient/app/build/*
AuthenticationClient/build/*
AuthenticationClient/openCVLibrary249/build/*
WatchTV/build/*
WatchTV/app/build/*
WatchTV/.gradle/*
WatchTV/.idea/*
FaceRecognitionSample/build/*
FaceRecognitionSample/.gradle/*
FaceRecognitionSample/.idea/*
